---
import BackLink from "@/components/back-link.astro";
import BlogPost from "@/components/blog-post.astro";
import Layout from "@/layouts/layout.astro";
import { Image } from "astro:assets";
import { getEntries, type CollectionEntry } from "astro:content";
import { getSinglePage } from "@/lib/content-parser.astro";

const posts = await getSinglePage("cases");

export async function getStaticPaths() {
  const blogEntries = await getSinglePage("cases");

  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
type Props = {
  entry: CollectionEntry<"cases">;
};


const { entry } = Astro.props;

const tools = await getEntries(entry.data.tooling || []);

const { Content } = await entry.render();
---

<Layout title={`Case Study: ${entry.data.title}`}>
  <article class="w-full mx-auto">
    <header class="relative">
      <div
        class="mx-auto max-w-8xl px-6 lg:px-8 mt-24 sm:mt-32 lg:mt-40 text-center"
      >
        <div class="mx-auto max-w-2xl lg:max-w-none">
            <h1>
                <span class="block font-display text-base font-semibold text-gray-950">Case Study</span>
                <span class="sr-only"> - </span>
                <span class="mt-6 block max-w-5xl font-display text-5xl font-medium tracking-tight text-gray-950 text-balance sm:text-6xl mx-auto">
                    {entry.data.title}
                </span>
            </h1>  
            <div class="mt-6 max-w-3xl text-xl text-gray-600 mx-auto">
                <p>
                    {entry.data.description}
                </p>
            </div>    
        </div>

        <div class="mx-auto max-w-2xl mt-24">
            <h3 class="font-display font-semibold text-gray-950 text-2xl">
                Was wir eingesetzt haben
            </h3>
            <ul role="list" class="my-6 flex flex-wrap items-center justify-center gap-4">
            {tools?.map((tool) => (
                <li>
                    <a
                        href={`/tooling/${tool.slug}`}
                        class="inline-flex items-center px-3 py-1.5 rounded-full bg-gray-950 text-white text-sm font-medium transition-colors hover:bg-gray-700"
                    >
                        {tool.data.name}    
                    </a>    
                </li>
            ))}
            </ul>
        </div>
        
      </div>

      <div class="mt-24">
        <div class="border-t border-gray-200 bg-white/50 sm:mt-32 lg:mt-40">
            <div class="mx-auto max-w-8xl px-6 lg:px-8">
                <div class="mx-auto max-w-2xl lg:max-w-none">
                    <div class="mx-auto max-w-5xl">
                        <dl class="-mx-6 grid grid-cols-1 text-sm text-gray-950 sm:mx-0 sm:grid-cols-3">
                            <div class="border-t border-gray-200 px-6 py-4 first:border-t-0 sm:border-l sm:border-t-0 hover:bg-gray-950 hover:text-white transition-colors">
                                <dt class="font-semibold">Kunde</dt>
                                <dd>
                                    {entry.data.kunde}
                                </dd>
                            </div>
                            <div class="border-t border-gray-200 px-6 py-4 first:border-t-0 sm:border-l sm:border-t-0 hover:bg-gray-950 hover:text-white transition-colors">
                                <dt class="font-semibold">Laufzeit</dt>
                                <dd>
                                    {entry.data.laufzeit}
                                </dd>
                            </div>
                           
                            <div class="border-t border-gray-200 px-6 py-4 first:border-t-0 sm:border-l sm:border-t-0 hover:bg-gray-950 hover:text-white transition-colors">
                                <dt class="font-semibold">Links</dt>
                                <dd class="flex flex-col gap-y-1">
                                    {entry.data.links?.map((link) => (
                                        <a href={link.url} class="inline-block mr-2" target="_blank" rel="noopener noreferrer">
                                            {link.title}
                                        </a>
                                    ))}
                                </dd>
                            </div>                    
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-y border-gray-200 bg-gray-100">
            <div class="-my-px mx-auto max-w-304 bg-gray-200">
                <div class="group relative">
                    {
                        entry.data.image && (
                                <Image
                                    class="rounded-lg object-cover object-center transition-all grayscale group-hover:grayscale-0"
                                    src={entry.data.image.url}
                                    alt={entry.data.image.alt}
                                    width={1280}
                                    quality={90}
                                />
                        )
                    }
                </div>
            </div>
        </div>
      </div>
    </header>


    <main class="mx-auto max-w-8xl px-6 lg:px-8 mt-24 sm:mt-32 lg:mt-40">
        <div class="mx-auto max-w-2xl lg:max-w-none">
            <div class="*:mx-auto *:max-w-3xl *:first:mt-0! *:last:mb-0!">
                <div class="prose">
                    <Content />
                </div>
            </div>
        </div>
        
    </main>
  </article>
</Layout>
