---
import Layout from "@/layouts/layout.astro";
import type { Person, WithContext } from "schema-dts"
import TechStack from "@/components/tech-stack/tech-stack.astro"

import PageHero from "@/sections/hero.astro"
import Hero from '@/components/hero.astro';
import { getSinglePage } from '@/lib/content-parser.astro';
import { sortByDate } from '@/lib/utils/sort';
import BlogPost from '@/components/blog-post.astro';
import Link from '@/components/link.astro';


const metaData = {
    title: "Julian Koehn",
    summary: "I'm a software engineer, currently working at Astro.",
    get description() {
        return `${this.title} - ${this.summary}`
    },
}

const jsonLd: WithContext<Person> = {
    "@context": "https://schema.org",
    "@type": "Person",
    name: "Julian Koehn",
    alternateName: "Julian",
    description: metaData.summary,
    email: "me@julian.pro"
}

if (Astro.site) {
  jsonLd["@id"] = `${Astro.site}#identity`
  jsonLd.url = Astro.site.toString()
}

const posts = await getSinglePage("blog")
const sortedPosts = sortByDate(posts)

const totalPages: number = Math.ceil(posts.length / 3);
const currentPosts = sortedPosts.slice(0, 3);


---
<Layout>
    <PageHero />


    
    <Hero
        heading='Neueste Blogbeiträge'
        description='Bleib auf dem Laufenden mit unseren aktuellsten Blogbeiträgen, in denen ich Einblicke, Tipps und Trends im Bereich der Softwareentwicklung und Technologie teile. Hier sind meine drei letzten Veröffentlichungen, die dir wertvolles Wissen bieten.'
    />
    <section class="w-full px-5vw relative">
    <div
      class="relative grid grid-cols-4 gap-x-4 md:grid-cols-8 lg:grid-cols-12 lg:gap-x-6 mx-auto max-w-8xl"
    >
      {
        currentPosts.map((post) => (
          <div class="col-span-4 mb-10 flex">
            <BlogPost url={`/blog/${post.slug}`} title={post.data.title} date={post.data.date} image={post.data.image}
                description={post.data.description}
            />
          </div>
        ))
      }

      <div class="col-span-full">
        <Link href="/blog">
            Mehr lesen
        </Link>
       
      </div>
    </div>
  </section>
    
    <section class="relative w-full py-24 sm:py-32">
        <TechStack />
    </section>
</Layout>