---
import { Image } from 'astro:assets';
import clsx from 'clsx';

type Image = {
    url: string;
    alt: string;
}

export interface Props {
    title: string;
    description?: string;
    url: string;
    date?: string | Date;
    image?: {
        url: {
            height: number;
            src: string;
            width: number;
            format: "svg" | "png" | "jpg" | "jpeg" | "tiff" | "webp" | "gif" | "avif";
        };
        alt: string;
    } | undefined;
}

const { title, url, image, description } = Astro.props;
---

<a href={url} role="article" rel="prefetch-intent" class={clsx(
    "flex flex-col items-start justify-between",
)}>
    <div class="relative w-full">
        {image && (
            <Image class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]" src={image.url} alt={image.alt} width={410} quality={75} />
        )}
        <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10" />
    </div>
    <div class="max-w-xl">
        <div class="group relative">
            <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                {title}
            </h3>
            <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
                {description}
            </p>
        </div>
    </div>
</a>
